  <!-- ######################## -->
  <!-- ##### START FOOTER ##### -->
  <!-- ######################## -->
  <br><br><br><br><br><br><br><br>
  <svg class="svg-diag" style="background-color:#fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="100 0 100 10 -50 10" style="fill:#54840C;"/>
  </svg>
</body>

<footer class="footer text-center lead" style="background-color:#54840C;">
  <div class="container" style="color:#fff;">
    <br>
    nanogallery2 by <a style="color:#fff;" href="http://brisbois.fr">christophe brisbois</a>
    <br><br>
  </div>
</footer>
</html>
