  <!-- ######################## -->
  <!-- ##### START FOOTER ##### -->
  <!-- ######################## -->

  <br><br><br><br><br><br><br><br>
  <svg class="svg-diag" style="background-color:#fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="100 0 100 10 -50 10" style="fill:#1d1731;"/>
  </svg>

  <footer class="footer text-center lead" style="background-color:#1d1731;">
    <div class="container" style="color:#fff;">
      <div class="row text-right">
        <a href="https://github.com/nanostudio-org/nanogallery2/tree/dev-gh-pages/src" class="btn btn-default btn-x" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> edit this page on github</a>
      </div>
      <br>
      nanogallery2 by <a style="color:#fff;" href="http://brisbois.fr" itemprop="author">christophe brisbois</a>
      
      <a class="typeform-share link" style="color:#fff;" href="https://krisb1.typeform.com/to/AZEb6k" data-mode="1" target="_blank"><b>[contact form]</b></a>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
      <br><br>
    </div>
  </footer>
  </span>
</body>
</html>

