  <!-- ######################## -->
  <!-- ##### START FOOTER ##### -->
  <!-- ######################## -->

  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
    <svg class="topLeftRounded" style="background-color:#fff;margin-bottom: -10px;" xmlns="https://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="50 20 50 80" preserveAspectRatio="none">
      <path d="M0,103 C15,100 35,50 50,50 L50,50 C65,50 85,100 100,100 Z" style="fill: #000;"></path>
  </svg>
  <!--
  <svg class="svg-diag" style="background-color:#fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="100 0 100 10 -00 10" style="fill:#000;"/>
  </svg>
  -->

  <footer class="footer text-center lead" style="background-color:#000;">
    <div class="container" style="color:#fff;">
      <div class="row text-center">
        <br><br>
        <span class="menu">
          <!--
          <a href="demonstration.html">Showcase</a> | 
          -->
          <a href="builder.html">Builder</a> |
          <a href="documentation.html">User Guide</a> |
          <a href="datasource.html">Content Source</a> |
          <a href="api.html">API</a> |
          <!-- <a href="reviews.html">Review 
                  <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                  <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                  <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                  <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                  <i class="ngy2_stars_on fa fa-star-half-o" aria-hidden="true"></i>
          </a> | -->
          <a class="typeform-share link" href="https://krisb1.typeform.com/to/AZEb6k" data-mode="1" target="_blank">Contact</a> |
          <!--
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
          -->
          <script src="https://embed.typeform.com/embed.js" type="text/javascript" async></script>
          <a href="support.html">Support nanogallery2</a>
        </span>
        <br><br><br><br>
        nanogallery2 - designed, developed, and maintained by 
        &nbsp;
        <a style="color:#fff;" href="https://twitter.com/nanostudio_org"><img src="https://pbs.twimg.com/profile_images/938799349349224448/IXEnTFWq_bigger.jpg" style="border-radius: 50%;width:73px;"></a>
        &nbsp;
        <a style="color:#fff;" href="https://brisbois.fr">
          <!-- <img src="https://twitter.com/Kris_BBBB/profile_image?size=normal" style="border-radius: 50%;width:40px;"> -->
          <img src="https://pbs.twimg.com/profile_images/843866728090230784/T4wHVNEq_bigger.jpg" style="border-radius: 50%;width:73px;">
          christophe brisbois
        </a>
        <!-- 
        - 
        <a class="typeform-share link" style="color:#fff;" href="https://krisb1.typeform.com/to/AZEb6k" data-mode="1" target="_blank"><b>[contact form]</b></a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        &nbsp;
        <a style="color:#fff;" href="https://github.com/nanostudio-org/nanogallery2/tree/dev-gh-pages/src" target="_blank">[<i class="fa fa-github" aria-hidden="true"></i> edit page]</a>
        -->
        <br><br>
      </div>
    </div>
  </footer>
</body>
</html>
