  <!-- BOOTSTRAP SELECT -->
  <link rel="stylesheet" href="vendors/bootstrap-select/css/bootstrap-select.min.css">
  <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

  <!-- bootstrap-colorpicker -->
  <link rel="stylesheet" href="vendors/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
  <script src="vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

  <!-- bootstrap-switch -->
  <link rel="stylesheet" href="vendors/bootstrap-switch/bootstrap-switch.min.css">
  <script src="vendors/bootstrap-switch/bootstrap-switch.min.js"></script>

  <!-- jquery UI -->
  <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.min.css">
  <script src="vendors/jquery-ui/jquery-ui.min.js"></script>
  
  <!-- tabulator -->
  <link href="vendors/tabulator/tabulator.css" rel="stylesheet">
  <script type="text/javascript" src="vendors/tabulator/tabulator.js"></script>


  <!-- ####################### -->
  <!-- ##### END BUILDER ##### -->
  <!-- ####################### -->
