<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>

<head>
  <title>nanogallery2 portable</title>
  <meta charset="utf-8">
  <meta name="description" content="nanogallery2 portable creates beautiful and high quality image galleries for your website">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:type" content="article">
  <meta property="og:title" content="nanogallery2>
  <meta property="og:description" content="nanogallery2 portable creates beautiful and high quality image galleries for your website">
  <meta property="og:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="nanogallery2">
  <meta name="twitter:description" content="nanogallery2 portable creates beautiful and high quality image galleries for your website">
  <meta name="twitter:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo.png">

  <meta name="google-signin-scope" content="https://picasaweb.google.com/data/">
  <meta name="google-signin-client_id" content="1084160391582-v6htikq4lrrr032k4qatmsb244bi6ati.apps.googleusercontent.com">
  
  <link rel="icon" href="img/favicon.ico" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
 
  <!-- #################################################################################################################### -->
  <!-- jQuery                                                                                                               -->
  <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
  <!-- #################################################################################################################### -->


  <!-- BOOTSTRAP -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />


  <!-- ######################## -->
  <!-- ##### END HEADER-1 ##### -->
  <!-- ######################## -->
