  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />

  <META name="keywords" content="image gallery html, image gallery css, image gallery jquery, html photo gallery code, photo gallery javascript, image gallery bootstrap, image gallery code, javascript image gallery, image gallery script, image gallery plugin, image web gallery, imagegallery" />
  
  <link rel="icon" href="img/favicon.ico" />

  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet" /> -->
  <!-- 
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  -->
 
  <!-- #################################################################################################################### -->
  <!-- jQuery                                                                                                               -->
  <!-- <script type="text/javascript" src="vendors/jquery-1.12.4.min.js"></script> -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
  <!-- #################################################################################################################### -->


  <!-- BOOTSTRAP -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


  <!-- ######################## -->
  <!-- ##### END HEADER-2 ##### -->
  <!-- ######################## -->
