  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:type" content="article">
  <meta property="og:description" content="nanogallery2 creates beautiful, modern and high-quality image galleries">
  <meta property="og:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="nanogallery2 creates beautiful, modern and high-quality image galleries">
  <meta name="twitter:image" content="http://nanogallery2.nanostudio.org/img/nanogallery2_logo.png">

  
  <link rel="icon" href="img/favicon.ico" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
 
  <!-- #################################################################################################################### -->
  <!-- jQuery                                                                                                               -->
  <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
  <!-- #################################################################################################################### -->


  <!-- BOOTSTRAP -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />


  <!-- ######################## -->
  <!-- ##### END HEADER-2 ##### -->
  <!-- ######################## -->
