  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:url" content="https://nanogallery2.nanostudio.org/" />
  <meta property="og:site_name" content="nanogallery2" />
  <meta property="og:title" content="modern photo / video gallery and lightbox" />
  <meta property="og:description" content="nanogallery2 is a must have gallery and lightbox. Strengths of nanogallery2 include rich UI interactions, multiple responsive layouts, swipe and zoom gestures, multi-level albums, an HTML page generator and limitless options. Setup and use are simple. The documentation includes tutorials, samples and ready to use HTML pages." />
  <meta property="og:type" content="website" />
  <meta property="og:author" content='https://twitter.com/nanostudio_org' />
  <meta property="og:image" content="https://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />
  <meta property="og:image:width" content="312" />
  <meta property="og:image:height" content="312" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@nanostudio_org" />
  <meta property="twitter:creator" content='@nanostudio_org' />
  <meta property="twitter:title" content="nanogallery2" />
  <meta property="twitter:description" content="modern photo / video gallery and lightbox" />
  <meta property="twitter:image:src" content="https://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />
  <meta property="twitter:image:width" content="312" />
  <meta property="twitter:image:height" content="312" />

  <meta name="description" content="nanogallery2 is a must have gallery and lightbox. Strengths of nanogallery2 include rich UI interactions, multiple responsive layouts, swipe and zoom gestures, multi-level albums, an HTML page generator and limitless options. Setup and use are simple. The documentation includes tutorials, samples and ready to use HTML pages." />  

  <link rel="icon" href="img/favicon.ico" />

  <!--
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="https://nanogallery2.nanostudio.org/img/nanogallery2_logo2.png" />

  <META name="keywords" content="image gallery html, image gallery css, image gallery jquery, html photo gallery code, photo gallery javascript, image gallery bootstrap, image gallery code, javascript image gallery, image gallery script, image gallery plugin, image web gallery, imagegallery" />
  -->
  

  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet" /> -->
  <!-- 
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  -->
 
  <!-- #################################################################################################################### -->
  <!-- jQuery                                                                                                               -->
  <!-- <script type="text/javascript" src="vendors/jquery-1.12.4.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
  <!-- #################################################################################################################### -->


  <!-- BOOTSTRAP -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


  <!-- ######################## -->
  <!-- ##### END HEADER-2 ##### -->
  <!-- ######################## -->
