  <!-- #################################################################################################################### -->
  <!-- nanogallery2 CSS files                                                                                               -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.2/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<!--
<link href="./css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<link href="./css/nanogallery2.css" rel="stylesheet" type="text/css">
-->

  <!-- #################################################################################################################### -->

  
  
  <style>

  
  /* COLORS BY PALETTON
  
    https://paletton.com/#uid=7380u0kquHMfQQHluLOynEiC1rl
  
    BASE: #46D6AB
  
    Main Primary color
    .color-primary-0 { color: #23CB98 }
    .color-primary-1 { color: #73E3C1 }
    .color-primary-2 { color: #46D6AB } 
    .color-primary-3 { color: #00C287 }
    .color-primary-4 { color: #009064 }

    Main Secondary color (1) - BLUE
    .color-secondary-1-0 { color: #3079CA }
    .color-secondary-1-1 { color: #7BACE2 }
    .color-secondary-1-2 { color: #5190D5 }
    .color-secondary-1-3 { color: #0E62C0 }
    .color-secondary-1-4 { color: #09488E }

    Main Secondary color (2) - ORANGE
    .color-secondary-2-0 { color: #FFAC2C }
    .color-secondary-2-1 { color: #FFCD81 }
    .color-secondary-2-2 { color: #FFBB54 }
    .color-secondary-2-3 { color: #FF9A00 }
    .color-secondary-2-4 { color: #DA8400 }

    Main Secondary color (3) - ORANGE-RED
    .color-complement-0 { color: #FF762C }
    .color-complement-1 { color: #FFAD81 }
    .color-complement-2 { color: #FF9054 }
    .color-complement-3 { color: #FF5900 }
    .color-complement-4 { color: #DA4C00 }  



    > as RGBa codes :

    .rgba-primary-0 { color: rgba( 35,203,152,1) }
    .rgba-primary-1 { color: rgba(115,227,193,1) }
    .rgba-primary-2 { color: rgba( 70,214,171,1) }
    .rgba-primary-3 { color: rgba(  0,194,135,1) }
    .rgba-primary-4 { color: rgba(  0,144,100,1) }

    .rgba-secondary-1-0 { color: rgba( 48,121,202,1) }
    .rgba-secondary-1-1 { color: rgba(123,172,226,1) }
    .rgba-secondary-1-2 { color: rgba( 81,144,213,1) }
    .rgba-secondary-1-3 { color: rgba( 14, 98,192,1) }
    .rgba-secondary-1-4 { color: rgba(  9, 72,142,1) }

    .rgba-secondary-2-0 { color: rgba(255,172, 44,1) }
    .rgba-secondary-2-1 { color: rgba(255,205,129,1) }
    .rgba-secondary-2-2 { color: rgba(255,187, 84,1) }
    .rgba-secondary-2-3 { color: rgba(255,154,  0,1) }
    .rgba-secondary-2-4 { color: rgba(218,132,  0,1) }

    .rgba-complement-0 { color: rgba(255,118, 44,1) }
    .rgba-complement-1 { color: rgba(255,173,129,1) }
    .rgba-complement-2 { color: rgba(255,144, 84,1) }
    .rgba-complement-3 { color: rgba(255, 89,  0,1) }
    .rgba-complement-4 { color: rgba(218, 76,  0,1) }  
  */
  
  
    body { font-size:1.4em; color:#000; line-height:1.9; }
    p { font-size:1.2em; }
    td { font-size:1.2em; }
   
    * { font-family: 'News Cycle', sans-serif; }
    h1 {
      /*border-left : 5px solid #009688;*/
      /* padding-left: 10px;*/
    }
    h2, h3, h4, h5, h6 {
      font-weight: bold;
    }
    .h1, h1 {
      font-size: 50px;
    }
    .h2, h2 {
      font-size: 40px;
    }
    .h3, h3 {
      font-size: 30px;
    }
    .h4, h4 {
      font-size: 25px;
    }
    .h5, h5 {
      font-size: 20px;
    }
    .h6, h6 {
      font-size: 20px;
    }

    .ngy2_color-primary-2 { color: #46D6AB } 


    blockquote {
      color: #fff;
      background-color: #FFAC2C;
      border-color: #09488E;
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      border-left: 10px solid #FF762C;
    }

    /**********/
    /* FOOTER */
    /**********/
    .footer {
      margin: 0;
    }
    .footer a:link,
    .footer a:visited,
    .footer a:hover,
    .footer a:active {
      color: #fff;
      text-decoration: none;
    }
    .footer .menu {
      color: #499295;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .footer .menu a:link,
    .footer .menu a:visited,
    .footer .menu a:hover,
    .footer .menu a:active {
      text-transform: uppercase;
      margin: 0px 10px;
      font-size: 1.4rem;
      font-weight: normal;
    }

    
    
    /*****************/
    /* DOCUMENTATION */
    /*****************/
    
    
    /* bandeau rayé  */
    .ngy2documentation_section { 
      padding: 70px 20px 10px 10px;
      background-color:#000;
      border-left: 8px solid #FF6D00;
  }

    .ngy2documentation  .important-note {
        padding: 5px 10px 5px 15px;
        background: #fde9e5;
        color: #000;
        font-weight: bold;
        border-left: 4px solid #ee350f;
        position: relative;
    }
    
    /*.ngy2documentation p { font-size: 1.7rem; }
    .ngy2documentation h2 { font-size: 2rem; } 
    .ngy2documentation h3 { font-size: 1.9rem  }
    .ngy2documentation h4 { font-size: 1.8rem; }
    .ngy2documentation h5 { font-size: 1.7rem; }
    .ngy2documentation h6 { font-size: 1.6rem; } */
	
    .ngy2documentation h3 { color: #23CB99; }
    
    .ngy2documentation pre { 
      background-color: #F8F8F8;
      border: 0px solid #888;
      margin: 0px;
    }
    
    .ngy2documentation .ngy2_background_rounded_back { 
      background-color:#F0F0F0;
      padding: 0px;
      border-radius:6px;
      margin: 0px;
    }
    .ngy2documentation .ngy2_background_rounded_back:hover { 
      background-color:#D8D8D8;
    }
    .ngy2documentation .ngy2_background_rounded_top { 
      background-color: rgba(0,0,0,0.1);
      font-weight: bold;
      padding: 10px;
      margin: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .ngy2documentation .ngy2_background_rounded_bottom { 
      padding: 20px;
      margin: 0;
    }
    
    .ngy2documentation table:not(.ngy2_comparison2) thead tr th { 
      font-size: 2rem;
      text-transform: uppercase;
      background-color: #FFCD81;
    }

    .ngy2documentation table:not(.ngy2_comparison2) :not(pre) > code { 
      font-size: 1.3rem;
      background: #ddd;
      font-weight: bold;
      color: #000;
      text-shadow: 0 0px #fff;    
    } 

    .ngy2documentation table:not(.ngy2_comparison2) td > h3 { 
      color: #DA8400;
      font-family: 'News Cycle', sans-serif;
    }
    .ngy2documentation table:not(.ngy2_comparison2) td { 
      font-size: 1.5rem;
    }
    .ngy2documentation table:not(.ngy2_comparison2) td *{ 
      font-size: 1.5rem;
    }
    .ngy2documentation table:not(.ngy2_comparison2) td:nth-child(1) { 
      font-weight: bold;
      font-size: 1.4rem; 
      font-family: "Courier New",monospace;
    }

    .ngy2documentation td.ngy2_object { 
      padding-left: 40px;
    }
    .ngy2documentation table:not(.ngy2_comparison2)>tbody>tr>td { padding-bottom: 10px; }

		.ngy2documentation table tr td h3 { font-size: 2.5rem  !important}

		
    .ngy2documentation :not(pre) > code {
      background: #eee;
      background: #f4f4f0;
      background: #ECEFF1;
      font-weight: normal;
      color: #19676B;
      color: #000;
      text-shadow: 0 1px #fff;
    }
    
    .ngy2documentation .badge {
      background-color: #19676B;
      padding: 4px 10px;
      margin: 1px;
    }
    .ngy2documentation .badge.ngy2_ver {
      background-color: #FFBB54;
      padding: 4px 10px;
      margin: 1px;
      font-size: 11px;
      font-weight: normal;
    }
    .ngy2documentation .badge.ngy2_type {
      background-color: #FF9054;
      padding: 4px 10px;
      margin: 1px;
      font-size: 11px;
      font-weight: normal;
    }
    .ngy2documentation .badge.ngy2_code_markup {
      background-color: #DA4C00;
      font-size: 1.2rem;
      padding: 5px 5px;
      border-radius: 0px;
      border-style: none;
      margin: 0px;
    }
    .ngy2documentation .badge.ngy2_code_js {
      background-color: #09488E !important;
      font-size: 1.2rem;
      padding: 5px 5px;
      border-radius: 0px;
      border-style: none;
      margin: 0px;
    }

    .ngy2documentation p.ngy2_doc_p {
      font-size: 1.7rem;
      font-family: "Source Sans Pro",sans-serif;
    }
    
    
    /* FEATURE COMPARISON */
    .ngy2documentation .table-borderless2 > tbody > tr > td,
    .ngy2documentation .table-borderless2 > tbody > tr > th,
    .ngy2documentation .table-borderless2 > tfoot > tr > td,
    .ngy2documentation .table-borderless2 > tfoot > tr > th,
    .ngy2documentation .table-borderless2 > thead > tr > td,
    .ngy2documentation .table-borderless2 > thead > tr > th {
      border: 0px solid #46D6AB;
      
    }


    .ngy2documentation .ngy2_comparison2 td:nth-child(1),
    .ngy2documentation .ngy2_comparison2 th:nth-child(1) { 
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #46D6AB;
    }
    .ngy2documentation .ngy2_comparison2 td:nth-child(2),
    .ngy2documentation .ngy2_comparison2 th:nth-child(2) { 
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #E8E8E8;
    }
    .ngy2documentation .ngy2_comparison2 td:nth-child(3), 
    .ngy2documentation .ngy2_comparison2 th:nth-child(3) { 
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #E4E4E4;
    }
    .ngy2documentation .ngy2_comparison2 td:nth-child(4), 
    .ngy2documentation .ngy2_comparison2 th:nth-child(4) { 
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #E0E0E0;
    }
    .ngy2documentation .ngy2_comparison2 td:nth-child(5),
    .ngy2documentation .ngy2_comparison2 th:nth-child(5) { 
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #DADADA;
    }



    /**********************/
    /* TOP NAVIGATION BAR */
    /**********************/
    .navbar * { font-weight: bold; }
    .navbar-inverse .navbar-nav>li>a { 
      color: #fff;
      padding-bottom: 5px;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      color: #23CB99;
      border-bottom: 2px solid #23CB99;
    }
    .navbar-inverse .navbar-brand {
      color: #fff;
      display: inline-flex;
      display: -webkit-inline-flex;
    }

    .navbar-inverse {
      background-color: #0F1934;
    }
    
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      background-color: #0F1934;
    }
    
    .dropdown-menu>li>a {
      padding: 10px 20px;
    }


    /***********************/
    /* NANOGALLERY2 COLORS */
    /***********************/

    .ngy2_bgdark {
      background-color: #0F1934;
      margin: 0;
    }
    
    .ngy2_shadow {
      -webkit-box-shadow: 1px 21px 62px -16px rgba(0,0,0,1);
      -moz-box-shadow: 1px 21px 62px -16px rgba(0,0,0,1);
      box-shadow: 1px 21px 62px -16px rgba(0,0,0,1);
    }
    
    .ngy2_bgdark_gallery2 {
      background-color: #0f1934;
      background-image: linear-gradient(180deg, #0f1934 0%, #4f5974 100%);
      margin: 0;
    }

    .ngy2_bgdark p ,
    .ngy2_bgdark .lead {
      color : #fff;
    }

    h1, h2, h3, h4, h5, h6 {
      color : #499295;
      color : #009688;
      color : #212121;
      color : #000;
    }
    .ngy2_bgdark h1, .ngy2_bgdark h2, .ngy2_bgdark h3, .ngy2_bgdark h4, .ngy2_bgdark h5, .ngy2_bgdark h6 {
      /* color : #76B6B9; */
      color : #23CB99;
    }

    a {
      color: #23CB98;
      text-decoration: none;
    }    
		a:focus, a:hover {
      color: #23CB98;
		}
    .ngy2_dark a,.ngy2_dark a:link {
      color: #23CB98;
      text-decoration: none;
    }    
		.ngy2_dark a:focus, .ngy2_dark a:hover {
      color: #73E3C1;
		}
		
    h3 a:link,
    h3 a:hover {
      color: #aaa;
      text-decoration: none;
    }
    h3 a:hover,
    h3 a:active {
      color: #23CB99;
      color: #B71C1C;
      text-decoration: none;
    }

    
    .ngy2_color1 {
      color: #499295;
    }
    .ngy2_color2 {
      color: #23CB99;
    }

    .ngy2_bgdark .btn-default {
      color: #fff;
      background-color: transparent;
      /* border: 5px solid #3C4B5B; */
    }
    
    .ngy2_bgdark .btn-primary {
      color: #fff;
      background-color: #23CB98;
      border-color: #23CB98;
    }
    
    .ngy2_bgdark .btn-rounded {
      color: #fff;
      background-color: #23CB98;
      border-radius: 16px;
      text-transform: uppercase;
      
    }
    .btn-rounded {
      color: #fff;
      background-color: #23CB98;
      border-radius: 16px;
      text-transform: uppercase;
    }
    .btn-rounded2 {
      color: #fff;
      background-color: #23CB98;
      border-radius: 16px;
      padding-left:10px;
      padding-right:10px;
    }
    .btn-outline-rounded {
      border: 2px solid #fff;
      padding:4px 10px;
      color:#fff;
      border-radius: 16px;
    }


    /* GLOWING BUTTON */
    @keyframes glowing {
      0% { box-shadow: 0 0 -10px #23CB98; }
      40% { box-shadow: 0 0 20px #23CB98; }
      60% { box-shadow: 0 0 20px #23CB98; }
      100% { box-shadow: 0 0 -10px #23CB98; }
    }

    .button-glow {
      animation: glowing 2000ms infinite;
    }
    
    
    /********/
    /* LOGO */
    /********/
    .ngy2_logo {
      border-left : none;
      padding-left: 0;
      color: #fff !important;
      font-weight: bold;
    }
    
    /* animated logo */
    .ngy2_logo svg {
        display: block;
        letter-spacing: 1.5vw;
        font-size: 3vw;
    }
    .ngy2_logo .text-copy {
        fill: none;
        stroke: #000;
        stroke-dasharray: 6% 29%;
        stroke-width: 0.5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    .ngy2_logo .text-copy:nth-child(1){
      stroke: #23CB99;
      animation-delay: -1;
    }
    .ngy2_logo .text-copy:nth-child(2){
      stroke: #46D6AB;
      animation-delay: -2s;
    }
    .ngy2_logo .text-copy:nth-child(3){
      stroke: #23CB99;
      animation-delay: -3s;
    }
    .ngy2_logo .text-copy:nth-child(4){
      stroke: #23CB99;
      animation-delay: -4s;
    }
    .ngy2_logo .text-copy:nth-child(5){
      stroke: #23CB99;
      animation-delay: -5s;
    }
    @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
    }    
		

    /************/
    /* FEATURES */
    /************/
    
    .ngy2_features span {
      /* background-color: #23CB99; */
      */ font-size: 1.5em; */
      color: #fff;
      /* padding: 5px; */
      white-space:nowrap;
      /* text-transform: uppercase; */
      /* border: 5px solid #0F1934; */
    }
    .ngy2_features span::before {
      background-color: #23CB99;
      display: inline-block;
      content: "";
      width: 12px;
      height: 12px;
      margin: 6px 6px 2px 0px;
    }
    
    /***********/
    /* BUTTONS */
    /***********/
    .btn {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    
    
		
    /**********/
    /* navbar */
    /**********/
    .navbar {
        position: relative;
        min-height: 10px;
        margin-bottom: 0px;
        border: 0px solid transparent;
      border-radius: 0px;
    }
	  
	  
	  
    /******************/
    /* BUTTON SUCCESS */
    /******************/
    .btn-success, .btn-success:visited {
      color: #fff;
      background-color: #23CB99;
      border-color: #23CB99;
    }
    .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
      color: #fff;
      background-color: #46D6AB;
      border-color: #46D6AB;
    }

    .ngy2_bgdark .btn-success, .ngy2_bgdark .btn-success:visited {
      color: #fff;
      background-color: #499295;
      border-color: #499295;
    }
    .ngy2_bgdark .btn-success:hover, .ngy2_bgdark .btn-success:active, .ngy2_bgdark .btn-success:focus, .ngy2_bgdark .btn-success:active:focus {
      color: #fff;
      background-color: #76B6B9;
      border-color: #76B6B9;
    }
    

    
    /*************/
    /* DIAGONALS */
    /*************/
    .svg-diag {
      display:  block;
      width:    100%;
      height:   90px;
      index:    -1;
      margin-bottom: -1px;
    }    
    
    .ngy2_version {
      color: #ddd;
      font-size:0.6em; 
      padding: 0px;
    }


    /*************/
    /* CHANGELOG */
    /*************/
    #ngy2_changelog {
      font-size: 1.2em;
    }
    .ngy2_changelog_version {
      margin: 0px 20px 20px 20px;
      padding: 0px;
    }

    #ngy2_changelog .ngy2_changelog_title {
      color:#499295;
      display: inline-block;
      background-color: #ddd;
      border: 0px solid #499295;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 4px 10px 4px 5px;
      margin: 15px 0px;
    }
    #ngy2_changelog .ngy2_changelog_tool {
      color: #000;
    }
    
    #ngy2_changelog .label {
      padding: 0em .6em .2em;
    }
    
    
    /************************/
    /* TOP CUSTOM JUMBOTRON */
    /************************/
    .jumbotronNGY2 {
      padding-top:0px;
    }
    
    
    
    /********************/
    /* CUSTOM JUMBOTRON */
    /********************/
    .jumbotron {
      margin-bottom: 0;
    }


    
    
    /*******************/
    /* REVIEW / rating */
    /*******************/
    .ngy2_review_rating {
      width: 200px;
      display: inline-block;
      padding: 0px 5px;
    }
    .ngy2_review_card_title {
      /* background-color: #AEDADC; */
      border: 5px solid #eee;
      border-top-left-radius: 25px;
      padding: 20px;
      font-size: 1.2em;
    }
    .ngy2_review_card_title .ngy2_stars_on{
      color: #ffc000;
      font-size: 1.8em;
    }
    .ngy2_review_card_title .ngy2_stars_off{
      color: #888;
      font-size: 1.8em;
    }
    .ngy2_review_card_title .ngy2_label{
        font-size: 1.5em;
    }
    .ngy2_review_card_user_label {
      color: #19676B;
      font-size: 1.4em;
    }
    .ngy2_review_card_body {
      background-color: #eee;
      padding: 15px;
      font-size: 1.2em;
    }
    
    
    
    /*******************************************/
    /* VERTICAL NAVIGATION BAR (documentation) */
    /*******************************************/
    #ngy2_vert_nav  {
      border-left: 4px solid #0097A7;
      line-height: 1.7rem
    }
    
    #ngy2_vert_nav_style .nav > li > a {
        position: relative;
        display: block;
        padding: 1px 5px;
        color:#000;
    }    
    #ngy2_vert_nav_style .nav .active {
      font-weight: bold;
      border-left: 4px solid #FF6D00;
      background-color: #f0f0f0;
    }
    #ngy2_vert_nav_style .nav .active a{
      color:#FF6D00;
      /* font-size:1.2rem; */
    }

    #ngy2_vert_nav_style .nav .nav {
      display: none;
    }

    #ngy2_vert_nav_style .nav .active .nav {
      display: block;
    }

    #ngy2_vert_nav_style .nav .nav a {
      font-weight: normal;
      font-size: .85rem;
    }

    #ngy2_vert_nav_style .nav .nav span {
      margin: 0 5px 0 2px;
    }

    #ngy2_vert_nav_style.nav .nav .active a,
    #ngy2_vert_nav_style .nav .nav .active:hover a,
    #ngy2_vert_nav_style .nav .nav .active:focus a {
      font-weight: bold;
      padding-left: 30px;
      border-left: 5px solid black;
    }

    #ngy2_vert_nav_style .nav .nav .active span,
    #ngy2_vert_nav_style .nav .nav .active:hover span,
    #ngy2_vert_nav_style .nav .nav .active:focus span {
      display: none;
    }



    /*************************************/
    /* DOCUMENTATION VERTICAL MENU - FIX */
    /*************************************/
    .affix {
      top: 60px;
      width: 213px;
    }

    @media (min-width: 1200px) {
      .affix {
        width: 263px;
      }         
    }    
    

    
    /***************************************/
    /* BOOTSTRAP ROW - COLUMNS SAME HEIGHT */
    /***************************************/
    .equal {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
    }    

    
    
    
    /***********************/
    /* Syntax highlighting */
    /***********************/
    pre code {
      font-size:1.0rem;
      line-height: 1.1;
    }
    pre * {
      font-family: monospace;
    }

    mark, .mark {
      background-color: #ff0;
    }
     
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: slategray; }

    .token.punctuation {
      color: #999; }

    .namespace {
      opacity: .7; }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #ec0278; }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: #23cb99; }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: #a67f59;
      background: rgba(255, 255, 255, 0.5); }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: #086290; }

    .token.function {
      color: #DD4A68; }

    .token.regex,
    .token.important,
    .token.variable {
      color: #e90; }

    .token.important,
    .token.bold {
      font-weight: bold; }

    .token.italic {
      font-style: italic; }

    .token.entity {
      cursor: help; }    

      
    code[class*="language-"], pre[class*="language-"] {
      line-height: 1.5;
      background: #f9fafb;
      font-family: sans-serif; 
    }

    pre, code {
      background: whitesmoke;
      -moz-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      /* white-space: pre; */
      word-break: break-all;
    }

    /* Code blocks */
    pre {
      padding: 1rem 1.5rem 0rem 1.5rem;
      margin: .5rem .5rem;
      overflow: auto;
      background: #fff389;
      background: #FFF9C4;
      color: #000;
      border-radius: .0em;
      border-color: #CDDC39;
      border-color: #FDD835;
    }
    pre > code {
      background: transparent;
    }

    :not(pre) > code {
      background: #d8d8d8;
      font-weight: bold;
      color: #19676B; }

    pre > code a[aria-label],
    pre > code mark[aria-label] {
      position: relative;
      /* background: rgba(255, 255, 0, 0.55); */
      background: rgb(243, 243, 16);
      padding: .16em .666ch .1em;
      border-radius: .3em;
      color: inherit;
      text-shadow: 0 1px 1px white; }
    pre > code a[aria-label]:hover, pre > code a[aria-label]:focus,
    pre > code mark[aria-label]:hover,
    pre > code mark[aria-label]:focus {
      background: rgba(255, 149, 0, 0.2);
      border-color: rgba(255, 149, 0, 0.2);
      text-decoration: none; }
    pre > code a[aria-label]:hover::after, pre > code a[aria-label]:focus::after,
    pre > code mark[aria-label]:hover::after,
    pre > code mark[aria-label]:focus::after {
      content: attr(aria-label);
      position: absolute;
      top: -2.5em;
      left: 0;
      z-index: 1;
      white-space: normal;
      width: 30em;
      padding: .2em 1.0em;
      background: #eee;
      border: 2px solid #800;
      border-radius: .4em;
      box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
      color: black;
      font-weight: 400;
      /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    }    


    
    /*****************/
    /* BUILDER PANEL */
    /*****************/
    #ngy2tools .ngy2_vert_toolbar {
      font-size: 0.8em;
      color: #eee;
      background-color: #222;
    }
    #ngy2tools .panel-default {
      border-color: #444;
    }

    #ngy2tools .form-control{
      height: 20px;
      padding: 0px 5px;
      border-radius: 0px;
      color: #eee;
      background-color: #333;
      border: 1px solid #555;
    }
    #ngy2tools .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: #333;
      color: #888;
    }

    #ngy2tools .panel-heading,
    #ngy2tools .ngy2toolbar {
      background-color: #111;
      color: #eee;
    }

    #ngy2tools .panel-body {
      background-color: #000;
    }
    #ngy2tools .panel {
      border-radius:0px;
      background-color:#222;
    }
    #ngy2tools .form-horizontal .control-label {
      padding-top:0px;
    }
    
    /* bootstrap panel */
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border-top-color: #23CB99;
      border-top-width: 3px;
    }
    
    
    
    
    /* color picker */
    #ngy2tools  .colorpicker-component .input-group-addon {
      padding : 0px;
      border-radius: 0px;
      border: 1px solid #aaa;
    }

    /* switch */
    .bootstrap-switch {
      /* border: none; */
      border-color: #555;
    }
    .bootstrap-switch .bootstrap-switch-label{
      background-color: #000;
    }
    .bootstrap-switch.bootstrap-switch-focused {
      border-color: #555;
      box-shadow: none;
    }
    


    
    /**********************/
    /* YOUTUBE RESPONSIVE */
    /**********************/
    .video-container {
      position:relative;
      padding-bottom:56.25%;
      /* padding-top:30px; */
      height:0;
      overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }    
    

    
    /*****************************/
    /* index page logo animation */
    /*****************************/
    
    .ngy2logo_transition {
      animation: ngy2logo_transition_t 1s 1;
      animation-delay: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    @keyframes ngy2logo_transition_t {
      from {
        opacity: 0;
        transform: translateY(50px) scale(0.7) rotateX(40deg) rotateZ(-3deg);
      }
      to {
        opacity: 1;
        transform: translateY(0px) scale(1) rotateX(0deg) rotateZ(0deg);
      }
    }
    
    .ngy2logo2_transition {
      animation: ngy2logo2_transition_t 1s 1;
      animation-delay: 0.6s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);      /* easeOutQuart */
    }
    @keyframes ngy2logo2_transition_t {
      from {
        opacity: 0;
        transform: translateX(20px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    
    .ngy2logo3_transition {
      animation: ngy2logo3_transition_t 1s 1;
      animation-delay: 0.7s;
      animation-fill-mode: both;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    @keyframes ngy2logo3_transition_t {
      from {
        opacity: 0;
        transform: scale(3) rotateZ(5deg);
      }
      to {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
      }
    }


 

  </style>


   

  <!-- Asynchronous Google Analytics snippet -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39069349-8', 'auto');
    ga('send', 'pageview');
  </script>

  
</head>


<body data-spy="scroll" data-target=".scrollspy" style="position: relative;">

  <!-- ############## -->
  <!-- ### NAVBAR ### -->
  <nav class="navbar navbar-inverse navbar-fixed-topX">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<!--
        <a class="navbar-brand form-horizontal" href="http://nanogallery2.nanostudio.org/" rel="home" title="nanogallery2">
          <img src="img/nanogallery2s.png" alt="nanogallery2" style="height:30px;"> &nbsp; <span class="ngy2_version">v3.0.1</span>
        </a>
        -->
        <a class="navbar-brand form-horizontal" href="http://nanogallery2.nanostudio.org/" rel="home" title="nanogallery2">
          nanogallery2
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <!--
	  <li><a href="index.html">Intro</a></li>
          <li><a href="quickstart.html">Get started</a></li>
          <li><a href="demonstration.html">Showcase</a></li>
          -->
          <li><a href="builder.html"><i class="fa fa-wrench ngy2_color2" aria-hidden="true"></i> Builder</a></li>
          <li><a href="documentation.html">User Guide</a></li>
          <li><a href="datasource.html">Content Source</a></li>
          <li><a href="api.html">API</a></li>
          <!--
	  <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Learn
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="academy.html">Academy</a></li>
              <li><a href="documentation.html">User Guide</a></li>
              <li><a href="datasource.html">Content Source</a></li>
              <li><a href="api.html">API</a></li>
            </ul>
          </li>
          -->
	  <!--
	  <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Discuss
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://nanostudio.typeform.com/to/P8SFe8" target="_blank">Mailing List</a></li>
            
              <li><a href="reviews.html">review 
                <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
                <i class="ngy2_stars_on fa fa-star-half-o" aria-hidden="true"></i>
              </a></li>
              <li><a href="https://github.com/nanostudio-org/nanogallery2/issues" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Feature and Issue tracker</a></li>
              <li><a href="https://github.com/nanostudio-org/nanogallery2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
              <li><a href="comment.html">Comments</a></li>
            </ul>
          </li>
          -->
		
          <li><a href="support.html">Support</a></li>
          <li><a href="https://github.com/nanostudio-org/nanogallery2" target="_blank" style="padding-top:10px;"><i class="fa fa-github  fa-2x" aria-hidden="true"></i></a></li>
          <!-- 
          <li><a href="documentation.html">Guide</a></li>
          <li><a href="datasource.html">Content source</a></li>
          <li><a href="api.html">API</a></li>
          <li><a href="reviews.html">
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star-half-o" aria-hidden="true"></i>
          </a></li>
          <li><a href="https://github.com/nanostudio-org/nanogallery2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <script>
   document.addEventListener("DOMContentLoaded", function() {
      var p=location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
      var current=document.querySelectorAll('.navbar a[href="'+p+'"]');
      if( current[0] == undefined ) {
        document.querySelectorAll('.navbar a[href="index.html"]')[0].parentNode.classList.add('active');
      }
      else {
        current[0].parentNode.classList.add('active');
      }
    });
  </script>
  
  <!-- ### NAVBAR ### -->
  <!-- ############## -->

  <!-- ###################### -->
  <!-- ##### END HEADER ##### -->
  <!-- ###################### -->
