  <!-- #################################################################################################################### -->
  <!-- nanogallery2 CSS files                                                                                               -->
	<link href="https://nanogallery2.nanostudio.org/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
  <!-- #################################################################################################################### -->

  <style>

	  
    body { font-size:1.3em; color:#111; line-height:1.5; }
    p { font-size:1.3em; }
    td { font-size:1.2em; }
    .ngy2documentation p { font-size:1.1em; }
    .ngy2documentation td { font-size:1.1em; }
    .ngy2documentation blockquote { font-size:1.1em; }
   
    * { font-family: 'Raleway', sans-serif; }
    h1 {
      border-left : 5px solid #499195;
      padding-left: 10px;
    }
    .footer {
      margin: 0;
    }
    

    blockquote {
      color: #000;
      background-color: #AEDADC;
      border-color: #499195;
      padding-top: 25px;
      padding-bottom: 25px;
    }


    
    /**********************/
    /* TOP NAVIGATION BAR */
    /**********************/
    .navbar * { font-weight: bold; }
    .navbar-inverse .navbar-nav>li>a { 
      color: #fff;
      padding-bottom: 5px;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      color: #23CB99;
      border-bottom: 2px solid #23CB99;
    }
    .navbar-inverse .navbar-brand {
      color: #fff;
      display: inline-flex;
      display: -webkit-inline-flex;
    }

    .navbar-inverse {
      background-color: #0F1934;
    }
    
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      background-color: #0F1934;
    }
    


    /***********************/
    /* NANOGALLERY2 COLORS */
    /***********************/

    /* palette (bleuté)- fond clair
    logo + menu + icon button : 23CB99 (plus clair: 46D6AB)
    base: 499295
    AEDADC
    76B6B9
    2E7C7F
    19676B

    0F4548
    0E4144

    background: #0F1934
    buttons: #3C4B5B
    */    
    
    .ngy2_bgdark {
      background-color: #0F1934;
      margin: 0;
    }

    .ngy2_bgdark p ,
    .ngy2_bgdark .lead {
      color : #fff;
    }

    h1, h2, h3, h4, h5, h6 {
      color : #499295
    }
    .ngy2_bgdark h1, .ngy2_bgdark h2, .ngy2_bgdark h3, .ngy2_bgdark h4, .ngy2_bgdark h5, .ngy2_bgdark h6 {
      color : #76B6B9;
    }

    a {
      color: #499295;
      text-decoration: none;
    }    

    .ngy2_color1 {
      color: #499295;
    }
    .ngy2_color2 {
      color: #23CB99;
    }

    .ngy2_bgdark .btn-primary {
      color: #fff;
      background-color: #3C4B5B;
      border-color: #3C4B5B;
    }

    
    
    /********/
    /* LOGO */
    /********/
    .ngy2_logo {
      border-left : none;
      padding-left: 0;
      color: #fff !important;
      font-weight: bold;
    }
		

		
    /***********/
    /* BUTTONS */
    /***********/
    .btn {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    
    
		
    /**********/
    /* navbar */
    /**********/
    .navbar {
        position: relative;
        min-height: 10px;
        margin-bottom: 0px;
        border: 0px solid transparent;
      border-radius: 0px;
    }
	  
	  
	  
    /******************/
    /* BUTTON SUCCESS */
    /******************/
    .btn-success, .btn-success:visited {
      color: #fff;
      background-color: #23CB99;
      border-color: #23CB99;
    }
    .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
      color: #fff;
      background-color: #46D6AB;
      border-color: #46D6AB;
    }

    .ngy2_bgdark .btn-success, .ngy2_bgdark .btn-success:visited {
      color: #fff;
      background-color: #499295;
      border-color: #499295;
    }
    .ngy2_bgdark .btn-success:hover, .ngy2_bgdark .btn-success:active, .ngy2_bgdark .btn-success:focus, .ngy2_bgdark .btn-success:active:focus {
      color: #fff;
      background-color: #76B6B9;
      border-color: #76B6B9;
    }
    

    
    /*************/
    /* DIAGONALS */
    /*************/
    .svg-diag {
      display:  block;
      width:    100%;
      height:   90px;
      index:    -1;
      margin-bottom: -1px;
    }    
    
    .ngy2_version {
      color: #ddd;
      font-size:0.6em; 
      padding: 0px;
    }


    /*************/
    /* CHANGELOG */
    /*************/
    #ngy2_changelog {
      font-size: 1.2em;
    }
    .ngy2_changelog_version {
      margin: 0px 20px 20px 20px;
      padding: 0px;
    }

    #ngy2_changelog .ngy2_changelog_title {
      color:#499295;
      display: inline-block;
      background-color: #ddd;
      border: 0px solid #499295;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 4px 10px 4px 5px;
      margin: 15px 0px;
    }
    #ngy2_changelog .ngy2_changelog_tool {
      color: #000;
    }
    
    #ngy2_changelog .label {
      padding: .2em .6em .2em;
    }
    
    
    /************************/
    /* TOP CUSTOM JUMBOTRON */
    /************************/
    .jumbotronNGY2 {
      padding-top:0px;
    }
    
    
    
    /********************/
    /* CUSTOM JUMBOTRON */
    /********************/
    .jumbotron {
      margin-bottom: 0;
    }


    
    
    /*******************/
    /* REVIEW / rating */
    /*******************/
    .ngy2_review_rating {
      width: 200px;
      display: inline-block;
      padding: 0px 5px;
    }
    .ngy2_review_card_title {
      /* background-color: #AEDADC; */
      border: 5px solid #eee;
      border-top-left-radius: 25px;
      padding: 20px;
      font-size: 1.2em;
    }
    .ngy2_review_card_title .ngy2_stars_on{
      color: #ffc000;
      font-size: 1.8em;
    }
    .ngy2_review_card_title .ngy2_stars_off{
      color: #888;
      font-size: 1.8em;
    }
    .ngy2_review_card_title .ngy2_label{
        font-size: 1.5em;
    }
    .ngy2_review_card_user_label {
      color: #19676B;
      font-size: 1.4em;
    }
    .ngy2_review_card_body {
      background-color: #eee;
      padding: 15px;
      font-size: 1.2em;
    }
    
    
    
    /*******************************************/
    /* VERTICAL NAVIGATION BAR (documentation) */
    /*******************************************/
    #ngy2_vert_nav {
      border-left: 4px solid #499295;
    }
    
    #ngy2_vert_nav_style .nav > li > a {
        position: relative;
        display: block;
        padding: 2px 5px;
        color:#000;
    }    
    #ngy2_vert_nav_style .nav .active {
      font-weight: bold;
      border-left: 4px solid #499295;
      background-color: #f0f0f0;
    }
    #ngy2_vert_nav_style .nav .active a{
      color:#499295;
      font-size:1.2em;
    }

    #ngy2_vert_nav_style .nav .nav {
      display: none;
    }

    #ngy2_vert_nav_style .nav .active .nav {
      display: block;
    }

    #ngy2_vert_nav_style .nav .nav a {
      font-weight: normal;
      font-size: .85em;
    }

    #ngy2_vert_nav_style .nav .nav span {
      margin: 0 5px 0 2px;
    }

    #ngy2_vert_nav_style.nav .nav .active a,
    #ngy2_vert_nav_style .nav .nav .active:hover a,
    #ngy2_vert_nav_style .nav .nav .active:focus a {
      font-weight: bold;
      padding-left: 30px;
      border-left: 5px solid black;
    }

    #ngy2_vert_nav_style .nav .nav .active span,
    #ngy2_vert_nav_style .nav .nav .active:hover span,
    #ngy2_vert_nav_style .nav .nav .active:focus span {
      display: none;
    }



    /*************************************/
    /* DOCUMENTATION VERTICAL MENU - FIX */
    /*************************************/
    .affix {
      top: 60px;
      width: 213px;
    }

    @media (min-width: 1200px) {
      .affix {
        width: 263px;
      }         
    }    
    

    
    /***************************************/
    /* BOOTSTRAP ROW - COLUMNS SAME HEIGHT */
    /***************************************/
    .equal {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
    }    

    
    
    
    /***********************/
    /* Syntax highlighting */
    /***********************/
    pre code {
      font-size:1.6rem;
      line-height: 1.7;
    }

    mark, .mark {
      background-color: #ff0;
    }
     
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: slategray; }

    .token.punctuation {
      color: #999; }

    .namespace {
      opacity: .7; }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #ec0278; }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: #23cb99; }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: #a67f59;
      background: rgba(255, 255, 255, 0.5); }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: #086290; }

    .token.function {
      color: #DD4A68; }

    .token.regex,
    .token.important,
    .token.variable {
      color: #e90; }

    .token.important,
    .token.bold {
      font-weight: bold; }

    .token.italic {
      font-style: italic; }

    .token.entity {
      cursor: help; }    

      
    code[class*="language-"], pre[class*="language-"] {
      line-height: 1.7;
      background: #f9fafb;
      font-family: sans-serif; 
    }

    pre, code {
      background: whitesmoke;
      -moz-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      /* white-space: pre; */
      word-break: break-all;
    }

    /* Code blocks */
    pre {
      padding: 1em 1.5em;
      margin: .5em .5em;
      overflow: auto;
      background: #f0f0f0;
      border-radius: .5em;
    }
    pre > code {
      background: transparent;
    }

    :not(pre) > code {
      background: #d8d8d8;
      font-weight: bold;
      color: #19676B; }

    pre > code a[aria-label],
    pre > code mark[aria-label] {
      position: relative;
      /* background: rgba(255, 255, 0, 0.55); */
      background: rgb(243, 243, 16);
      padding: .16em .666ch .1em;
      border-radius: .3em;
      color: inherit;
      text-shadow: 0 1px 1px white; }
    pre > code a[aria-label]:hover, pre > code a[aria-label]:focus,
    pre > code mark[aria-label]:hover,
    pre > code mark[aria-label]:focus {
      background: rgba(255, 149, 0, 0.2);
      border-color: rgba(255, 149, 0, 0.2);
      text-decoration: none; }
    pre > code a[aria-label]:hover::after, pre > code a[aria-label]:focus::after,
    pre > code mark[aria-label]:hover::after,
    pre > code mark[aria-label]:focus::after {
      content: attr(aria-label);
      position: absolute;
      top: -2.5em;
      left: 0;
      z-index: 1;
      white-space: normal;
      width: 30em;
      padding: .2em 1.0em;
      background: #eee;
      border: 2px solid #800;
      border-radius: .4em;
      box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
      color: black;
      font-weight: 400;
      /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    }    


    
    /*****************/
    /* BUILDER PANEL */
    /*****************/
    #ngy2tools .ngy2_vert_toolbar {
      font-size: 0.8em;
      color: #eee;
      background-color: #222;
    }
    #ngy2tools .panel-default {
      border-color: #444;
    }

    #ngy2tools .form-control{
      height: 20px;
      padding: 0px 5px;
      border-radius: 0px;
      color: #eee;
      background-color: #000;
      border: 0px solid #111;
    }
    #ngy2tools .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: #333;
      color: #888;
    }

    #ngy2tools .panel-heading,
    #ngy2tools .ngy2toolbar {
      background-color: #222;
      color: #eee;
    }

    #ngy2tools .panel-body {
      background-color: #333;
    }
    #ngy2tools .panel {
      border-radius:0px;
      background-color:#222;
    }
    #ngy2tools .form-horizontal .control-label {
      padding-top:0px;
    }
    
    
    
    /****************/
    /* color picker */
    /****************/
    #ngy2tools  .colorpicker-component .input-group-addon {
      padding : 0px;
      border-radius: 0px;
      border: 1px solid #aaa;
    }

    /* switch */
    .bootstrap-switch {
      border: none;
    }
    .bootstrap-switch .bootstrap-switch-label{
      background-colorcolor: #000;
    }
    .bootstrap-switch.bootstrap-switch-focused {
      border-color: #000;
      box-shadow: none;
    }




    
    /**********************/
    /* YOUTUBE RESPONSIVE */
    /**********************/
    .video-container {
      position:relative;
      padding-bottom:56.25%;
      /* padding-top:30px; */
      height:0;
      overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }    
    
	  

  </style>


  <!-- Asynchronous Google Analytics snippet -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39069349-8', 'auto');
      // ga('require', 'GTM-NNSW2KX');
      ga('send', 'pageview');

    </script>
    

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39069349-8" ></script>
<script data-cfasync="false" type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-39069349-8');
</script>
-->
  
</head>


<body data-spy="scroll" data-target=".scrollspy" style="position: relative;">

  <!-- ############## -->
  <!-- ### NAVBAR ### -->
  <nav class="navbar navbar-inverse navbar-fixed-topX">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand form-horizontal" href="http://nanogallery2.nanostudio.org/" rel="home" title="nanogallery2">
          <img src="img/nanogallery2s.png" alt="nanogallery2" style="height:30px;"> &nbsp; <span class="ngy2version">v1.5.0</span>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right text-uppercase">
          <li><a href="index.html">Intro</a></li>
          <li><a href="quickstart.html">Get started</a></li>
          <li><a href="demonstration.html">Showcase</a></li>
          <li><a href="builder.html"><i class="fa fa-wrench ngy2_color2" aria-hidden="true"></i> Builder</a></li>
          <li><a href="documentation.html">Guide</a></li>
          <li><a href="datasource.html">Content source</a></li>
          <li><a href="api.html">API</a></li>
          <li><a href="reviews.html">
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star" aria-hidden="true"></i>
            <i class="ngy2_stars_on fa fa-star-half-o" aria-hidden="true"></i>
          </a></li>
          <li><a href="https://github.com/nanostudio-org/nanogallery2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github</a></li>
          <!-- <li><a href="modules.html">Modules</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var p=location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
      var current=document.querySelectorAll('.navbar a[href="'+p+'"]');
      if( current[0] == undefined ) {
        document.querySelectorAll('.navbar a[href="index.html"]')[0].parentNode.classList.add('active');
      }
      else {
        current[0].parentNode.classList.add('active');
      }
    });
  </script>
  <!-- ### NAVBAR ### -->
  <!-- ############## -->

  <!-- ######################## -->
  <!-- ##### END HEADER-3 ##### -->
  <!-- ######################## -->
