  <!-- ######################## -->
  <!-- #####  INCLUDE JS  ##### -->
  <!-- ######################## -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  
<!-- <script type="text/javascript" src="https://nanogallery2.nanostudio.org/js/jquery.nanogallery2.min.js"></script> -->

  <!-- 
    <script type="text/javascript" src="https://rawgit.com/nanostudio-org/nanogallery2/dev/dist/jquery.nanogallery2.min.js"></script>
  -->
  <script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.min.js"></script>



