  <!-- ######################## -->
  <!-- #####  INCLUDE JS  ##### -->
  <!-- ######################## -->
  <script type="text/javascript" src="../vendors/jquery-1.12.4.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/jquery.nanogallery2.core.js"></script>
	<!-- <script type="text/javascript" src="../js/jquery.nanogallery2.data_google.js"></script> -->
	<script type="text/javascript" src="../js/jquery.nanogallery2.data_google2.js"></script>
	<script type="text/javascript" src="../js/jquery.nanogallery2.data_flickr.js"></script>
	<script type="text/javascript" src="../js/jquery.nanogallery2.data_nano_photos_provider2.js"></script>

