  <!-- ######################## -->
  <!-- #####  INCLUDE JS  ##### -->
  <!-- ######################## -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  
<!-- <script type="text/javascript" src="https://nanogallery2.nanostudio.org/js/jquery.nanogallery2.min.js"></script> -->

   
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.1/jquery.nanogallery2.min.js"></script>
  <!--
  <script type="text/javascript" src="./js/jquery.nanogallery2.core.js"></script>
  <script type="text/javascript" src="./js/jquery.nanogallery2.data_flickr.js"></script>
  <script type="text/javascript" src="./js/jquery.nanogallery2.data_google3.js"></script>
  <script type="text/javascript" src="./js/jquery.nanogallery2.data_nano_photos_provider2.js"></script>
-->



