  <!-- ### LOGO ### -->
  <div class="jumbotron ngy2dark">
    <div class="container ">
      <br><br><br><br>
      <div class="row" >
        <div class="col-md-2" ></div>
        <div class="col-md-4 text-center">
          <img src="img/nanogallery2.png" alt="nanogallery2" style="width:100%;">
        </div>
        <div class="col-md-4" >
          <!-- <h2 style="color:#fff;">nanogallery2</h2> -->
          <h3 style="color:#fff;">nanogallery2 creates beautiful and high quality image galleries for your website</h3><br>
          <a href="quickstart.html" type="button" class="btn btn-primary " ><i class="fa fa-rocket" aria-hidden="true"></i> &nbsp; quick start</a>
          <a href="https://github.com/nanostudio-org/nanogallery2" type="button" class="btn btn-primary " target="_blank"><i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github</a>
        </div>
        <div class="col-md-2" ></div>
      </div>
      <br><br><br><br>
    </div>
  </div>
  <!-- ### LOGO ### -->

  
  <!-- ########################### -->
  <!-- ##### END LOGO INDEX  ##### -->
  <!-- ########################### -->
