  <!-- ### LOGO ### -->
  <div class="jumbotron ngy2dark">
    <div class="container text-center">
      <br><br><br><br>
      <div class="row" >
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-8 text-center">
          <img src="img/nanogallery2p_bw.png" alt="nanogallery2 portable" style="width:100%;">
          <br><br>
          <h2 style="color:#fff;">
            <b>nanogallery2 portable - builder [beta version]</b>
          </h2>
        </div>
        <div class="col-md-2 text-center">
        </div>
      </div>
    </div>
  </div>
  <!-- ### LOGO ### -->
  <svg class="svg-diag" style="background-color:#FF0075;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="100 0 100 10 -50 10" style="fill:#fff;"/>
  </svg>

  
  <!-- ################### -->
  <!-- ##### END LOG ##### -->
  <!-- ################### -->
