  <!-- ### LOGO ### -->
  <div class="jumbotron ngy2_bgdark">
    <div class="container ">
      <div class="row" >
        <br><br><br><br>
        <div class="col-md-12 text-center">
          <img itemprop="image" src="img/nanogallery2.png" alt="nanogallery2" style="max-width:100%;">
          <!--
          <h4 style="color:#eee;"><span itemprop="name">nanogallery2</span> creates beautiful, modern and high-quality image galleries for your website</h4>
          -->
        </div>
      </div>
      <br>
    </div>
  </div>
  <!-- ### LOGO ### -->

  
  <!-- ########################### -->
  <!-- ##### END LOGO INDEX  ##### -->
  <!-- ########################### -->
