  <!-- ### LOGO ###  -->
  <div class="jumbotron ngy2_bgdark" style="overflow:hidden;">
    <div class="container ">
      <div class="row" >
        <div class="col-md-6 text-center" style="perspective: 1000px;perspective-origin: 50% 0%;">
          <!-- <img src="img/nanogallery2.png" alt="nanogallery2" style="max-width:90%;"> -->
          <h1 id="ngy2logo" class="ngy2_logo ngy2logo_transition" ><img src="img/nanogallery2b.png" alt="nanogallery2" style="max-width:70%;"></h1>
        </div>
        <div class="col-md-6 text-center ngy2logo2_transition" id="ngy2logo2" >
          <!-- <h2 style="color:#fff;">nanogallery2</h2> -->
          <br><br>
          <!-- <h3 style="color:#fff;margin-top:0px;">nanogallery2 is a javascript library for creating beautiful, modern and high quality image galleries.</h3><br> -->
          <!-- <h3 style="color:#fff;margin-top:0px;font-weight:normal;">Everything you need to add beautiful, modern and high quality <span class="ngy2_color2">photo galleries</span> to your website.</h3><br>-->
          <!-- <h3 style="margin-top:0px;font-weight:normal;letter-spacing: 1.5vw;font-size:3vw;"><span class="ngy2_color2">nanogallery2</span></h3> -->
          <h3 style="margin-top:0px;font-weight:normal;letter-spacing: 1.5vw;font-size:3vw;">
            <span class="ngy2_color2 ngy2_logo">
              <svg viewBox="0 0 550 100">
                <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="80%">nanogallery2</text>
                </symbol>
                <g class = "g-ants">
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                  <use xlink:href="#s-text" class="text-copy"></use>
                </g>
              </svg>
            </span>
          </h3>
          <br><br>
          <h3 style="color:#fff;margin-top:0px;font-weight:normal;letter-spacing: 0.5rem;font-size:2rem;"><b>javascript library</b></h3>
          <br>
          <h3 style="color:#fff;margin-top:0px;font-weight:normal;letter-spacing: 0.5rem;font-size:2rem;"><span itemprop="softwareVersion">v2.4.1</span> - <span itemprop="datePublished" content="2019-03-13">March 13, 2019</span></h3>
          <h3 style="color:#fff;margin-top:0px;font-weight:normal;letter-spacing: 0.2rem;font-size:1.4rem;">
            <a href="academy.html#releases" classa="btn btn-default btn-lg " ><i class="fa fa-book" aria-hidden="true"></i> release notes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a itemprop="downloadUrl" href="https://github.com/nanostudio-org/nanogallery2/archive/v2.4.1.zip" classa="btn btn-default btn-lg " ><i class="fa fa-download" aria-hidden="true"></i> download</a>
          </h3>
          <!--
          <a href="quickstart.html" type="button" class="btn btn-primary" ><i class="fa fa-rocket ngy2_color2" aria-hidden="true"></i> &nbsp; get started</a>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          -->
          <!--
          <button type="button" class="btn btn-primary btn" id="btn_random_demo"> &nbsp; <i class="fa fa-refresh fa-spin ngy2_color2" aria-hidden="true"></i> &nbsp; see it in action &nbsp; </button>
          -->
          <!-- <a href="builder.html" type="button" class="btn btn-primary" ><i class="fa fa-wrench ngy2_color2" aria-hidden="true"></i> &nbsp; visual builder</a> -->
          <!--
          <a href="https://github.com/nanostudio-org/nanogallery2" type="button" class="btn btn-primary " target="_blank"><i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github</a>
          -->
          <!--
          <br>
          <span style="margin-top:5px;position:absolute;">
          <a href="https://twitter.com/nanostudio_org" type="button" class="btn btn-primary btn " target="_blank" style="background-color:#00aced;"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; follow @nanostudio_org</a>
          </span>
          -->
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12 text-center ngy2logo3_transition" id="ngy2logo3" >
          <h1 style="font-size:4rem;letter-spacing: 0.5rem;border-left:0px;padding-left:0px;color:#fff;">a modern <span class="ngy2_color2">photo / video gallery</span> and <span class="ngy2_color2">lightbox</span></h1>
        </div>
      </div>
      <div id="nanogallery_debug_on"></div>
      <br><br><br><br><br><br>
      <br><br>
    </div>
  </div>
  <!-- ### LOGO ### -->

  
  <!-- ########################### -->
  <!-- ##### END LOGO INDEX  ##### -->
  <!-- ########################### -->
