  <!-- ### LOGO ### -->
  <div class="jumbotron ngy2_bgdark">
    <div class="container ">
      <br><br><br><br>
      <div class="row" >
        <div class="col-md-6 text-center">
          <!-- <img src="img/nanogallery2.png" alt="nanogallery2" style="max-width:90%;"> -->
          <h1 class="ngy2_logo">nanogallery2 <img src="img/nanogallery2s.png" alt="nanogallery2" style="max-width:20%;"></h1>
        </div>
        <div class="col-md-6 text-center" >
          <!-- <h2 style="color:#fff;">nanogallery2</h2> -->
          <br>
          <!-- <h3 style="color:#fff;margin-top:0px;">nanogallery2 is a javascript library for creating beautiful, modern and high quality image galleries.</h3><br> -->
          <h3 style="color:#fff;margin-top:0px;">Everything you need to add beautiful, modern and high quality image galleries to your website.</h3><br>
          <a href="quickstart.html" type="button" class="btn btn-primary" ><i class="fa fa-rocket ngy2_color2" aria-hidden="true"></i> &nbsp; get started</a>
          <!-- <a href="builder.html" type="button" class="btn btn-primary" ><i class="fa fa-wrench ngy2_color2" aria-hidden="true"></i> &nbsp; visual builder</a> -->
          <!--
          <a href="https://github.com/nanostudio-org/nanogallery2" type="button" class="btn btn-primary " target="_blank"><i class="fa fa-github" aria-hidden="true"></i> &nbsp; Github</a>
          -->
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
          <button type="button" class="btn btn-primary btn" id="btn_random_demo"><i class="fa fa-refresh fa-spin ngy2_color2" aria-hidden="true"></i> &nbsp; inspiration</button>
          <!--
          <br>
          <span style="margin-top:5px;position:absolute;">
          <a href="https://twitter.com/nanostudio_org" type="button" class="btn btn-primary btn " target="_blank" style="background-color:#00aced;"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; follow @nanostudio_org</a>
          </span>
          -->
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <!-- ### LOGO ### -->

  
  <!-- ########################### -->
  <!-- ##### END LOGO INDEX  ##### -->
  <!-- ########################### -->
